
<!DOCTYPE html>

<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'MegaByte.css' %}">
    
    <title>
    
        Login | Demo
    
    </title>
    {% load static %}
    <link rel="icon" href="{% static 'logo.png' %}" type="logo/png">
</head>

<body>

        <form id="form" method="post" onsubmit="return login()" action="/login" data-netlify="true">
            {% csrf_token %}
            <div class="elements">
                <div class="content">
                    <a class="navbar-brand" id="name" href="/">
                      {% load static %}
                      <img src="{% static 'logo.png' %}" alt="" width="50" height="45" class="d-inline-block align-text-top" id="logo">
                      MegaByte
                 </a>
                    <div class="form-floating mb-3">
                        
                        <input type="text" class="form-control" name="username" placeholder="Username" id="username">
                    
                    </div>
                    
                    <div class="form-floating mb-3">

                        <input type="password" name="password" class="form-control" placeholder="Password" id="password">

                    </div>
                    
                    <div id="remember">
                        <input type="checkbox" name="rememberme" id="rememberme">Remember Me 
                    </div>


                    <div class="submit">

                        <input name="submit" type="submit" placeholder="Submit" class="form-control" id="submit">

                    </div>
                </div>
            </div>    
        </form>
        
        {% load static %}
        <script type="text/Javascript" src="{% static 'login.js' %}">

    </script>

</body>
</html>
